---
// src/components/ProjectCard.astro
const { 
    title, 
    description, 
    image, 
    link,
    imageStyle = "height:200px;border-radius:22%;"
} = Astro.props;
---

<div class="col" style="padding: 29px;">
    <div>
        {image && (
            <img 
                style={imageStyle} 
                src={image} 
                alt={title} 
                width="200" 
                height="200"
            />
        )}
        <div class="py-4">
            <h4><span style="color: rgb(203, 212, 245);">{title}</span></h4>
            <p>
                <span style="color: rgb(203, 212, 245);">
                    {description}
                    {link && (
                        <>
                            Check it out at <a href={link}><span style="color: rgb(203, 212, 245);">{link}</span></a>!
                        </>
                    )}
                </span>
            </p>
        </div>
    </div>
</div>